# Server
PORT=8000
NODE_ENV=production

# MongoDB
MONGO_URI=mongodb+srv://verdanuser:verdan123@verdan-main.gpyn9im.mongodb.net/Verdan?retryWrites=true&w=majority&appName=Verdan-main

# JWT
JWT_ACCESS_SECRET=yourStrongAccessKey
JWT_REFRESH_SECRET=yourStrongRefreshKey
ACCESS_TOKEN_EXPIRES=2d
REFRESH_TOKEN_EXPIRES=7d

# Mail (Use app password for Gmail)
SMTP_USER=rajatsaraswat1729@gmail.com
SMTP_PASS=kvpzhuhijyfxmhhm
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

# Optional Master Admin
MASTER_ADMIN_EMAIL=admin@verdan.com
MASTER_ADMIN_PASSWORD=verdan@2711!

RESEND_API_KEY=re_acHWfE2m_AciqHT43reox111vMM2bB86v

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=