@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

@layer base {
  body {
    @apply font-sans;
    font-family: "IBM Plex Sans", sans-serif;
    background-color: #f9fafb;
    color: #0e0e0e;
  }

  :root {
    --background: #f9fafb;
    --foreground: #111827;
    --card: #ffffff;
    --card-foreground: #111827;
    --border: #e5e7eb;
    --muted-foreground: #6b7280;
  }
}
